@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#privacyP {
    font-family: 'Poppins', sans-serif;
}

#template {
    font-size: 0.6rem;
}