#h2 {
  font-family: "Roboto" sans-serif;
  text-align: center;
  color: #4b0082;
}

#ul_sponsors {
  display: flex;
  flex-direction: row;
}

#divSponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#imgSponsor {
  width: 15rem;
  height: 15rem;
  margin: 5rem;
}
