#events-h2 {
    font-family: 'Roboto' sans-serif;
    text-align: center;
    color: #4B0082;
}

#no-events {
  font-family: 'Roboto' sans-serif;
  text-align: left;
  color: #846b96;
}

#border{
  border: 1px solid gray;
}

#box {
  margin: 20px;
}

#events-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#events-div > div {
  flex-basis: calc(50% - 40px);
}

#vid-text {
  font-family: 'Roboto' sans-serif;
  text-align: center;
  color: #4B0082;
  font-size: 1rem;
  font-weight: 100;
}

#video-player {
  display: flex;
  justify-content: center;
  align-items: center;
}
#render-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#render-video > div {
  flex-basis: calc(50% - 40px);
}
